@import "./variables";
@import "./font";


button {
   background-image: linear-gradient(180deg, #e1a0a0, $buttonColor);
   box-shadow: 0 10px 40px #6B3838;
   border: 1px solid black;
   border-radius: 10%;
   color: $primaryFontColor;
   font-family: $primaryFont;
   margin:1.5rem;
   padding:1rem 2rem; 
}

button:hover {
   background-image:linear-gradient(180deg, #e2c1c1, #ea8282);
}

#list__add {
   padding: 0;
   margin: 0;
   width: 2rem;
   height: 2rem;
   color: $backgroundColor;   
   border-radius: 100%;
   text-align: center;
}